.accord-groups {
  text-align: center;
  padding: 10px;
  display: flex;
  width: fit-content;
  /*gap: 15px;*/
  /*width: 1000px;*/
  /*margin: 0 auto;*/
  /*border: solid 1px red;*/
}
.accord-groups-selected {
  flex-wrap: wrap;
  justify-content: left;
}
.tab-content {
  padding: 10px;
  overflow-x: auto;
  /*border: solid 1px orange;*/
}
.delete-all-chords {
  border: solid 1px #949292;
  color: #949292;
  width: 80px;
  border-radius: 4px;
  text-align: center;
  padding: 2px;
}

.selected-chords-wrapper {
/*border: solid 3px green;*/
  width: fit-content;
  border-radius: 10px;
  position: sticky;
  left: 0;
  /*padding: 30px;*/
  /*margin: 0 10px;*/
}

.intro {
  font-size: 24px;
}
.center-content {
  display: flex;
  justify-content: center;
}

.chord-row-name {
  display: flex;
  align-items: center;
  font-size: 30px;
  position: sticky;
  left: -10px;
  /*background: red;*/
  background: white;
  z-index: 2;
  padding: 0 6px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
